/ICT304_Assignment_Project_TJA_2026.pdf
/ML-Dataset.csv
/SubSystem1_v1.ipynb
/SubSystem_v2.ipynb
/Subsystem1.ipynb
/Tentative System Design.docx
/groupDeclarationSheet.docx
/rolling_supervised_dataset.csv
/sub1_category.ipynb
/subsystem1_artifacts.pkl
/subsystem1_best_model.pkl
/subsystem1_output.json
/~$ntative System Design.docx
